PORT=3001
JWT_SECRET=

DB_HOST=localhost
DB_PORT=5433
DB_NAME=practica_sd
DB_USER=postgres
DB_PASSWORD=

WEATHER_API_KEY=

LLM_PROVIDER=gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=gemma3:4b

TELEGRAM_BOT_TOKEN=
EXTERNAL_API_KEY=